/* PHASE 4: Footer */

.footer {
  
}

.footer-copy {

}

.footer-links {

}

.footer-links > li {
  float: right;
  padding: 0px 10px;
  border-right: 1px solid white;
}

.footer a {

}

.footer a:hover {

}
